/*font */

@font-face{
    font-family: 'Amarillo';
    src:url(../fonts/Amarillo.otf);
}
@import url ( 'https://fonts.googleapis.com/css2? family = Noto + Sans + KR : wght @ 400; 500; 700 & display = swap');


/* reset css */

html,body{
    width: 100%;
    height: 100%;
    line-height: 1;
    font-size:16px;
    margin: 0;
    padding: 0;
    font-family : 'Noto Sans KR', sans-serif;
}

main{
    padding-bottom: 60px;
}


h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:inherit;
}

input{
    background-color: transparent;
    border:none;
    outline: none;
}

button{
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}
